<tr class="campaign-row" id="{{ campaign.product_name || '' }}" data-value="{{ campaign.source_name || '' }}">
  <th scope="row">{{ campaign.product_name || product_name }}</th>
  <td>{{ campaign.source_name || source_name }}</td>
  <td>{{ campaign.clicks || total_clicks }}</td>
  <td>{{ campaign.campaign_date || date_from_filter + ' to ' + date_to_filter }}</td>
</tr>
