<tr class="campaign-row" id="{{ campaign.product_name || '' }}" data-value="{{ campaign.source_name || '' }}">
  <th scope="row">{{ campaign.product_name }}</th>
  <td>{{ campaign.source_name }}</td>
  <td>{{ campaign.clicks }}</td>
  <td>{{ campaign.campaign_date }}</td>
</tr>
