<nav class="navbar navbar-inverse" style="background-color:#DCDCDC;border-bottom: 1px solid white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <h6></h6>
    </div>
    <div class="" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
