<div class="" style="display:flex; flex-direction: row;">
	<span style="margin-right:5px;">Page</span>
	<div class="button-container">

	</div>
</div>

<input id="last-page" type="hidden" value="{{ last_page }}">

{{ script('/js/pagination-buttons.js') }}
