<div class="pagination-display">
	<span>Page</span>
	<div class="button-container"></div>
</div>

<input id="last-page" type="hidden" value="{{ last_page }}">

{{ style('/styles/pagination-buttons.css') }}
{{ script('/js/pagination-buttons.js') }}
